@import "/src/styles/mixins.scss";

.multiline-input {
    width: 100%;
  .MuiOutlinedInput-notchedOutline {
    border-radius: 32px;
    border: 1px solid var(--border, #dcdcdc) !important;
    outline: none;
  }
  .MuiInputBase-root {
    // background-color: #ededed;
    border-radius: 50px;
    width: 100% !important;
  }
  .MuiSelect-select {
    padding: 10px 20px;
  }

  &::placeholder {
    color: #a7a7a7;
    font-family: Outfit;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    left: 10px;
  }
}
