@import "/src/styles/mixins.scss";
@import "/src/styles/variables.scss";

.business-video-play-back {
  background-color: #0c0c0f;
  @include flex(row, center, start);
  .play-back-main-container {
    width: 40%;
    height: calc(100vh - 80px);
    @include hideScrollbar();
    overflow-y: scroll;
    .video-container {
      @include flex(row, center, center);
      margin: 20px 0px;
      .video-frame {
        height: 500px;
      }
      .single-video-playback
        .video-container
        .video-content
        .header-container
        .text {
        color: #fff;
        text-align: center;
        font-family: Outfit;
        font-size: 18px;
        text-align: start;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        z-index: 222;
      }
      .single-video-playback .video-container .video-content .bottom-container {
        padding: 15px;
        border-radius: 0px 0px 16px 16px;
        width: calc(250px - 30px);
        position: absolute;
        bottom: 0;
        align-items: start;
        z-index: 111;
        background: linear-gradient(
          180deg,
          rgba(0, 0, 0, 0) 0%,
          rgba(0, 0, 0, 0.35) 46.88%,
          rgba(0, 0, 0, 0.8) 100%
        );
      }
    }
    .button-box {
      width: 220px;
      height: 37px;
      flex-shrink: 0;
      margin-top: 70px;
      margin-bottom: 80px;
      margin-left: auto;
      margin-right: auto;
      cursor: pointer;
      z-index: 111;
    }
  }
}
